body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

header p {
    font-size: 18px;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0,3s;
    cursor: pointer;
    padding: 5px;
}

nav a:hover {
    color: #00aaff;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

#sobre p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

h2 {
    color: #222;
    text-align: center;
    margin-bottom: 25px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    background-color: #222;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
}

li:hover {
    transform: translateY(-3px);
    background-color: #00aaff;
    box-shadow: 0 4px 12px rgba(0, 170, 255, 0.4);
}

article {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

article h3 {
    margin-top: 0;
    font-size: 24px;
}

article p {
    line-height: 1.6;
    margin-bottom: 20px;
}

article:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

article a {
    display: inline-block;
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

article a:hover {
    background-color: #00aaff;
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 170, 255, 0.2);
}

#contato {
    text-align: center;
}

#contato a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

#contato a:hover {
    color: #00aaff;
    text-decoration: underline;
}

#contato a:hover {
    color: #00aaff;
    text-decoration: underline;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-top: 3px solid #00aaff;
}

footer p {
    margin: 0;
    font-size: 14px;
}

#sobre {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

#sobre p {
    line-height: 1.6;
    font-size: 18px;
    text-align: center;
}