body {
    background-color: #f2f2f2;
    font-family: arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
}

h2 {
    margin-top: 40;
    color: #222;
}

h3 {
    margin-top: 25px;
    color: #444;
}